@import "tailwindcss";

/* Self CSS */

.custom-title {
  border-left: 5px solid #28a745;
  padding-left: 12px;
  font-weight: bold;
  font-size: 1rem;
  line-height: 3rem;
}

.my-block {
  background-color: #f0f9f5;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
}
