@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700;900&display=swap");
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
/* Self CSS */

@theme {
  /* 定義自訂背景圖片變數 */
  --background-image-seigaiha: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0a10 10 0 0 1 10 10 10 10 0 0 1-10 10A10 10 0 0 1 0 10 10 10 0 0 1 10 0z' fill='%23d1d5db' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@theme {
  /* 定義漸入動畫變數 */
  --animate-fade-in: fade-in 1s ease-out forwards;

  /* 定義關鍵幀 */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.fontchange {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
}

.custom-title {
  border-left: 5px solid #28a745;
  padding-left: 12px;
  font-weight: bold;
  font-size: 1rem;
  line-height: 3rem;
}

.my-block {
  background-color: #f0f9f5;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
}

.glass {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.8px);
  -webkit-backdrop-filter: blur(16.8px);
  border: 1px solid rgba(30, 66, 129, 0.3);
}

/* background color */
:root.custom-home-bg,
body.custom-home-bg,
.custom-home-bg {
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #eff6ff 50%,
    #dbeafe 100%
  ) !important;
  background-attachment: fixed;
}

.dark :root.custom-home-bg,
.dark body.custom-home-bg,
.dark .custom-home-bg {
  background: linear-gradient(
    135deg,
    #020617 0%,
    #0f172a 50%,
    #1e293b 100%
  ) !important;
  background-attachment: fixed;
}

.text-gradient {
  background: linear-gradient(to right, #4facfe 0%, #a25dfc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
